body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 50px; /* Ajuste de margem para evitar sobreposição com o menu */
}

.brand {
    text-align: center;
}

.brand img {
    max-width: 200px;
}

.about-info {
    text-align: center;
}

.additional-links {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.additional-links .how-to-get {
    margin-bottom: 10px;
}

.additional-links .external-link a {
    color: #333;
    text-decoration: none;
}

.additional-links .external-link a:hover {
    text-decoration: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
